/* / hero bg */
#nav-link {
  position: relative;
}

#nav-link::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -5px;
  left: 0;
  width: 0%;
  background: white;
  transition: width 0.3s ease;
}

#nav-link.active::after {
  width: 50%; /* Adjust to 100% for full width on active page */
}

#nav-link:hover::after {
  width: 50%;
}

#hero .even-slide {
  min-width: 65%;
  max-width: 70%;
}

#hero .odd-slide {
  min-width: 35%;
  max-width: 30%;
}

#eventBg {
  background-image: url(/assets/events-bg.png) !important;
  background-size: cover;
}

.swiper {
  width: 100%;
  min-height: 320px;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

#eventBg .swiper-slide #circle,
#eventBg .swiper-slide button,
#eventBg .swiper-slide #event-desc {
  opacity: 0%;
}

#eventBg .swiper-slide-active #circle,
#eventBg .swiper-slide-active button,
#eventBg .swiper-slide-active #event-desc {
  opacity: 100%;
  transition: all 0.3s ease;
}

#NewsGallery .swiper-slide {
  scale: 100%;
  transition: all 0.3s ease;
}

#NewsGallery .swiper-slide-active {
  scale: 105%;
}

canvas:hover {
  backdrop-filter: blur(10px); /* Adjust the blur value as needed */
}

#eventBg {
  background-image: url("/events-bg.png");
  background-size: cover;
  background-position: center;
}

#shelters {
  position: relative;
}

#shelters .swiper-slide,
#testimonials .swiper-slide {
  transition: all 0.3s ease;
}

#shelters .swiper-slide {
  scale: 100%;
}

#shelters .swiper-slide #desc {
  display: none;
}

#shelters .swiper-slide-active {
  scale: 110%;
}

#shelters .swiper-slide-active #desc {
  display: block;
}

#shelters #shelter-nav {
  position: absolute;
  bottom: 15%;
  right: 5%;
  z-index: 500;
}

.prev,
.next {
  border: 1px solid #ccc;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  color: blue;
  border-color: blue;
}
 
.prev svg,
.next svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hovered {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.02);
  filter: blur(5px);
}



@media screen and (max-width: 800px) {
  #hero {
    padding: 1rem;
  } 

  .recharts-wrapper {
    max-width: 500px;
    max-height: 500px;
    margin: 1rem;
  }

  .recharts-wrapper  svg {
    max-width: 100%;
  }

  #shelters #shelter-nav {
    bottom: 0;
  }
}