@import url("https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .anim {
        @apply transition-all duration-[300ms] ease-in-out;
    }

    .anim-slo {
        @apply transition-all duration-[800ms] ease-in-out;
    }

    .pri-btn {
        @apply md:rounded-[10px] rounded-[6px] bg-[#BB1A37] text-[#FFF] text-[16px] not-italic font-semibold leading-[139.5%] tracking-widest px-[8px] md:px-[40px] py-[12px] md:py-[17px] uppercase hover:brightness-[0.9] hover:drop-shadow-lg anim;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: "Caudex", serif; */
    font-family: 'Noto Serif Display', serif;
}

p,
a,
span {
    font-family: "Archivo", sans-serif;
}

.font_cat {
    font-family: 'Catamaran', sans-serif;
}

body {
    color: #fff;
    background-color: #090a0f;
}

.serif {
    font-family: "Caudex", serif;
}

.animate-spin {
    animation: spin 6s linear infinite;
}

/*---------------HP Classics---------------*/

/*centering absolute stuff*/

/* ::-webkit-scrollbar {
    display: none;
} */

.centerh {
    left: 50%;
    transform: translate(-50%, 0);
}

.centerv {
    top: 50%;
    transform: translate(0, -50%);
}

.centerrr {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/*Selection controls*/

::-moz-selection {
    color: rgb(40, 8, 8);
    background: rgba(255, 255, 255);
}

::selection {
    color: rgb(40, 8, 8);
    background: rgba(255, 255, 255);
}

.noselect {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

/*media hacks*/

.pc {
    visibility: visible;
    display: flex;
}

.mob {
    visibility: hidden;
    display: none;
}

.hide {
    display: none;
    visibility: hidden;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

/*z-index hacks*/

.toppp {
    z-index: 9999;
}

.topppp {
    z-index: 99999;
}

.toppppp {
    z-index: 9999999;
}

.bottt {
    z-index: -9999;
}

/*others*/

abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}

@media screen and (max-width: 768px) {
    .mob {
        visibility: visible;
        display: flex;
    }

    .pc {
        visibility: hidden;
        display: none;
    }
}

/*---------------HP Classics---------------*/

.b1 {
    border: 1px solid red;
}

.b2 {
    border: 10px solid red;
}

.clock_img {
    height: 20px;
    width: 20px !important;
}

.space_100 {
    height: 100px;
}

@media screen and (max-width: 768px) {
    .space_100 {
        height: 80px;
    }
}